<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kassow_kord">

  <xacro:include filename="$(find kassow_kord_bringup)/urdf/common/inertials.xacro" />
  <xacro:include filename="$(find kassow_kord_description)/kr810/urdf/kr810_description.urdf.xacro"/>
  <xacro:include filename="$(find kassow_kord_bringup)/urdf/kassow_kord.ros2_control.xacro"/>

  <!-- Add robot URDF -->
  <xacro:kr810_description/>

  <!-- Add ros2_control hardware -->
  <xacro:kassow_kord_ros2_control name="kassow_kord_control"/>

</robot>