<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kassow_kord">

  <xacro:arg name="prefix" default="kassow"/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="ip_address" default="10.23.23.238"/>
  <xacro:arg name="port" default="28283"/>
  <xacro:arg name="session_id" default="1"/>
  <xacro:arg name="robot_model" default="kr810"/>

  <xacro:include filename="$(find kassow_kord_bringup)/urdf/common/inertials.xacro" />
  <xacro:include filename="$(find kassow_kord_bringup)/urdf/common/materials.xacro" />
  <xacro:include filename="$(find kassow_kord_bringup)/urdf/kassow_kord.ros2_control.xacro"/>

  <link name="world"/>

  <xacro:include filename="$(find kassow_kord_description)/$(arg robot_model)/urdf/$(arg robot_model)_description.urdf.xacro"/>
  <xacro:call macro="$(arg robot_model)_description" prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:call>

  <xacro:kassow_kord_ros2_control
    name="$(arg prefix)"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    ip_address="$(arg ip_address)"
    port="$(arg port)"
    session_id="$(arg session_id)"
  />

</robot>
