<?xml version="1.0" encoding="UTF-8"?>

<robot name="kassow_kord" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:arg name="prefix" default=""/>

    <xacro:include filename="$(find kassow_kord_bringup)/srdf/kassow_kord_macro.srdf.xacro"/>

    <xacro:kassow_kord_srdf prefix="$(arg prefix)"/>

</robot>
